<h2>iCal設定</h2>

<% unless @ical_setting.new_record? %>
  <% button_label = "更新" %>
  <div class="box tabular">
    <h3><%=l(:label_current_ical_setting)%></h3>
    <div><input type = "text" value="<%=generate_url(@ical_setting.token)%>" size = "100"></div>
    <ul>
      <li><%= button_to "access keyを更新", update_key_ical_settings_path, {:method => :post}  %></li>
      <li><%= button_to "access keyを削除", ical_settings_path, {:method => :destroy} %></li>
    </ul>
  </div>
<% else %>
  <% button_label = "作成" %>
  <p>iCal設定をしてください。</p>
<% end  %>
<p>期日を設定していないチケットは表示されません。</p>


<% content_for :sidebar do %>
  <h3>設定</h3>
  <%= form_for(:ical_setting, ical_settings_path, :html => {:method => :put}) do |f| %>
    <table>
      <tr>
        <th width="30%">アラート</th>
        <td><%= f.select :alerm, IcalSetting::FLAGS %></td>
      </tr>
      <tr>
        <th>通知</th>
        <td>
          <%= f.text_field :time_number,:size=>2 %>
          <%= f.select :time_section, IcalSetting::SECTIONS %> 前に通知する(1-100)
        </td>
      </tr>
      <!--
      <tr>
        <th>過去分</th>
        <td><%= f.text_field :past,:size=>2 %>日分(1-30)</td>
      <tr>
        <th>未来分</th>
        <td><%= f.text_field :future,:size=>2 %>日分(1-30)</td>
      </tr>
      -->
      <tr>
        <td colspan="2"><%= f.submit button_label %></td>
      </tr>
    </table>
  <% end -%>
<% end %>
